@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: url('../imgs/foto\ fundo.png');
  background-color: #2FC18C;
  background-size: cover;
}

.bg-button {
  background: #003BE5;
}

.border-blue {
  border: 1px solid #003BE5;
}

.blue-color {
  color: #003BE5;
}

.green-color {
  color:  #1eb37c;
}